---
import Layout from "../../components/Layout.astro";

import Cover from "../../components/Cover.astro";
import Section from "../../components/Section.astro";
import Article from "../../components/Article.astro";
import BackCover from "../../components/BackCover.astro";
---

<Layout title="Epílogo">

<Cover
title="Epílogo"
subtitle="Primera edición"
/>
<img src="/images/logo-03-cropped.svg">

<Section title="Manifesto">
    
    <h4 class="right-aligned-text">
        Armadillo, c'est l'art. Armadillo, c'est la technologie. Armadillo, c'est la société.

        Armadillo, c'est la mode. Armadillo, c'est la science. Armadillo, c'est le design.

        Armadillo, c'est la culture. Armadillo, c'est le voyage. Armadillo, c'est le sport.

        Armadillo, c'est la musique. Armadillo, c'est le cinéma. Armadillo, c'est la philosophie.

        Armadillo, c'est la poésie. Armadillo, c'est l'interview.

        Armadillo, c'est les statistiques. Armadillo, c'est l'expérimentation.

        Armadillo, c'est la méthode. Armadillo, c'est la transgression. Armadillo, c'est la liberté.
        <br>
        <br>
        Armadillo es Arte. Armadillo es Tecnología. Armadillo es Sociedad. 
        Armadillo es Moda. Armadillo es Ciencia. Armadillo es Diseño. 
        Armadillo es Cultura. Armadillo es Viajes. Armadillo es Deportes. 
        Armadillo es Música. Armadillo es Cine. Armadillo es Filosofía. 
        Armadillo es Poesía. Armadillo es Entrevistas. 
        Armadillo es Estadísticas. Armadillo es Experimentos. 
        Armadillo es Método. Armadillo es Transgresivo. Armadillo es Libre. 
        <br>
        <br>
        Armadillo is Art. Armadillo is Technology. Armadillo is Society.

        Armadillo is Fashion. Armadillo is Science. Armadillo is Design.

        Armadillo is Culture. Armadillo is Travel. Armadillo is Sports.

        Armadillo is Music. Armadillo is Cinema. Armadillo is Philosophy.

        Armadillo is Poetry. Armadillo is Interviews.

        Armadillo is Statistics. Armadillo is Experiments.

        Armadillo is Method. Armadillo is Transgressive. Armadillo is Free.

        <br>
        <br>

        
    </h4>

</Section>

<Section title="Tecnología">

    <Article
        title="Android y Google, matrimonio open source complejo"
        bg="#f0f0f0"
        color="#000"
        author="Diego Velazquez"
        >

        <img src="https://images.unsplash.com/photo-1580860749755-f49eb5509d55?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />

        <p>
            2003. En la ciudad de Palo Alto California, Andy Rubin y Chris
            White, con Rich Miner y Nick Sears sumándose posteriormente, 
            fundan Android Inc. Inicialmente, buscaron el desarrollo de un 
            sistema operativo para cámaras digitales, pero al no atraer 
            inversionistas el proyecto cambia de dirección. Esa nueva 
            dirección, en abril del 2004, fue elaborar un sistema operativo 
            para móviles. En 2005 se busca negociar con Samsung y HTC, pero 
            en Julio, Google adquiere la compañía por 50 millones de dolares. 
            Dicho por el mismo David Lawee (el entonces vice presidente de la compañía), 
            fue el “best deal ever”. No cabe duda de ello. En este punto de la historia, 
            es cuando nuestro matrimonio en cuestión, comienza.
        </p>

        <p>
            En lo que podríamos llamar, la luna de miel de la pareja (2007),  Apple revela la existencia de iPhone OS (el primer nombre del futuro iOS), lo que provoca el replanteamiento de nuestro dúo de interés. Se tiene que lidiar con la integración de la modalidad touchscreen, pero también sucede una especie de renovación de votos de la relación. Se funda la Open Handset Alliance. 34 miembros, que en el futuro crecen a 84, pero con un claro líder, Google. Entre las demás compañías, como fabricantes, desarrolladores, operadores de telefonía móvil y fabricantes de chips, se unen “para promover una plataforma unificada de Android”; y sin duda se promueve vigorosamente, ya que se acuerda por contrato la prohibición de producir dispositivos basados en forks (código base duplicado y después modificado) de Android. 
        </p>

        <p>
            De la formación de la antes mencionada alianza, se revela el Android Open Source Project (ASOP).­
        Es el sistema operativo open-source basada en una versión modificada del kernel de Linux. Finalmente, se concibe al mundo y de forma concreta, lo prometido en 2004. Este sistema operativo, se hará el más usado en el mundo.

        </p>

        <p>
            En esta relación, hay un claro y explícito dominante; nada más ilustrativo que el hecho de que una parte “adquirió” a la otra. Sin embargo, hay un elemento del vínculo que es de lo más interesante, el aspecto open-source. Esencialmente, ASOP es FOSS (free and open-source software), licenciado principalmente bajo la Apache License. Pero, la gran mayoría de los dispositivos realmente usan la versión propietaria desarrollada por Google. De aquí, se desprenden bastantes vertientes interesantes de la parte “closed” del negocio, que con el tiempo solo ha crecido.

        </p>

        <p>
            La cuestión “open” se ha encontrado en una nueva coyuntura en este último año. En marzo del año pasado, Google anuncia la adopción total del desarrollo de Android. Es decir, la comunidad externa a la compañía que contribuía al proyecto queda totalmente descartada del desarrollo. Como bien lo menciona un comentario de la Nota en TECHSPOT, “El pastel sigue siendo gratis, pero ya no puedes ver la receta hasta que este fuera del horno”. Claramente, existen implicaciones como una mayor adquisición de los fabricantes independientes o no tan grandes para no quedarse atrás y pagar por acceder a las últimas funciones y mayor soporte, así como la eliminación total de la contribución de la comunidad ajena a Google. El motivo oficial, es eficiencia. Conflictos entre la versión pública y la cerrada al integrarse, así como pruebas más lentas y esfuerzos duplicados. En realidad, con el tiempo ya se había desdibujado progresivamente un rol de importancia en el desarrollo externo, así que a pesar de haber sido una noticia importante, no fue sorpresiva.  

        </p>

        <p>
            Hace unas semanas del presente año, Android y Google, la pareja casi veinteañera, volvió a resonar en medios, pues se hizo noticia el descontento que existe en parte de la comunidad desarrolladora y en especial de diversas organizaciones partidarias de la privacidad , de la sociedad civil, empresas tecnológicas y otras sin fines de lucro. keepandroidopen.org emitió una carta abierta a Google, incluyendo a Sundar Pichai (CEO), Sergey Brin y Larry Page (fundadores y miembros del consejo de administración) , entre otros directivos de la empresa. La carta, también cuenta con copia para agencias reguladoras, legisladores y la comunidad desarrolladora de android. Las demandas del documento son claras, que Google retroceda el curso en la política de verificación indiscriminada a desarrolladores que deseen usar Android, y volver a la esencia abierta del proyecto. Las razones de negativa a la medida son bastante claras he invito a cualquiera a hacer lectura de la carta misma. Firmada por 57 organizaciones de 19 países distintos,  esto es una declaración abierta por la defensa de un proyecto de software que nació libre y que quiere seguirlo siendo. A la fecha, no ha habido respuesta por parte de Google.

        </p>
        <img src="https://images.unsplash.com/photo-1694878982190-6e37aa9eb306?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
        <p>
            No cabe duda que la vigencia de que tan open-source seguirá siendo android, podrá ser probado en septiembre de este año. Todo matrimonio tiene momentos difíciles, veamos qué sucede con este.

        </p>

        

    </Article>

    <Article
        title="Linux"
        bg="#222"
        color="#fff"
        >

        <p>
        Debian es estable.
        </p>

    </Article>

</Section>

<Section title="Cultura">

    <Article
        title="Arte"
        bg="#ffeedd"
        color="#111"
        >

        <p>
        Texto de ejemplo.
        </p>

    </Article>

</Section>

<BackCover text="Fin de la edición" />


</Layout>


