---
import Layout from "../components/Layout.astro";
---

<Layout title="Revista">
<h1>Armadillo</h1>

<a href="/es">Español</a> /
<a href="/en">English</a>
<br>
<img src="/images/ezgif.com-animated-gif-maker.gif" alt="Armadillo walking" width="500" height="auto"/>

</Layout>

