---
const {
title,
bg = "#ffffff",
color = "#000000",
author
} = Astro.props;
---

<div class="article"
style={`background:${bg}; color:${color}`}
>

<h3>{title}</h3>
<h4>-{author}</h4>

<slot />

</div>
